<li class="py-4 px-2 hover:bg-gray-50 border-t border-gray-300">
  <div class="flex justify-between">
    <div>
      <%= check_box_tag "todo_item_item[done_at]", "1",
                  todo_item.done_at.present?,
                  id: "todo_item-done-#{todo_item.id}" %>
    </div>
    <div class="w-4/5 <%= todo_item.done_at ? ' line-through' : '' %>"><%= todo_item.title %></div>
    <div>
      <%= link_to todo_item, method: :delete do %>
        &times;
      <% end %>
    </div>
  </div>
</li>
